.site-title img {
    padding-right: 0.5em;
    padding-bottom: 5px;
}

.site-title {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.site-title::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col {
    background-color:   #fdfdfd;
    margin-right: 1em;
    margin-left: 1em;
    padding-left: 10px;
    padding-right: 10px;
}

.full-col {
    width: 100%;
}

.center {
    text-align: center;
}

.col h2, .col h3 {
    margin-top: 5px;
}
